.smfHighlight {
	--smfBorderColor: mediumseagreen;
	border: 2px solid darkgreen;
	border-color: orange;
	border-color: var(--smfBorderColor, mediumseagreen);
	border-radius: 5px;
}

.smfHighlight.smfUpvoted {
    border-color: var(--theme-primary-500);
}

.smfAnswer {
	margin: 20px 0;
	padding-left: 5px;
}

.smfFavorite {
	border-color: orange;
	position: relative;
}
.smfFavorite:before {
	position: absolute;
	content: "\2605"; /*\23F6 or "\25B2"*/
	/* Unicode symbol: https://www.fileformat.info/info/unicode/category/So/list.htm */
	left: -11px;
	top: -11px;
	color: orange;
	font-size: large;
}

.smfAuthor{
	border-color: orange;
	position: relative;
}
.smfAuthor:before {
	position: absolute;
    content: "👑"; /* "\2756" or \2764*/
	/* Unicode symbol: https://www.fileformat.info/info/unicode/category/So/list.htm */
    left: -15px;
    top: -15px;
    color: orange;
    font-size: large;
    /* transform: rotate(180deg); */
}

.smfCmtLnk {
	margin-top: 5px;
	padding: 5px;
	align-items: center;
}

.votecell{
	position: relative;
}

.smfAnsHasCmmts {
	position: absolute;
    /* left: 190px; */
    left: -5px;
	padding: 0;
	width: 100%;
    background-color: var(--smfBorderColor, mediumseagreen);
    border: none;
    color: firebrick;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    /* border-radius: 5px; */
    font-size: small;
}

.smfUpvoted  .smfAnsHasCmmts{
	background-color: var(--theme-primary-500);
}
