.smfHighlight {
	--smfBorderColor: var(--theme-primary-500, darkorange);
	--smfBorderColor: var(--theme-primary, darkorange);
	--smfBackgroundColor: var(--white, inherit);
	border-style: solid;
	border-width: 0px;
	border-left-width: 5px;
	border-color: darkorange;
	border-color: var(--smfBorderColor, mediumseagreen);
	border-radius: 5px;
	background: 
		radial-gradient(circle at 100% 100%, var(--smfBackgroundColor) 0px, var(--smfBackgroundColor) 6px, transparent 6px) 0% 0% / 8px 8px no-repeat,
		radial-gradient(circle at 0px 100%, var(--smfBackgroundColor) 0px, var(--smfBackgroundColor) 6px, transparent 6px) 100% 0% / 8px 8px no-repeat, 
		radial-gradient(circle at 100% 0px, var(--smfBackgroundColor) 0px, var(--smfBackgroundColor) 6px, transparent 6px) 0% 100% / 8px 8px no-repeat, 
		radial-gradient(circle at 0px 0px, var(--smfBackgroundColor) 0px, var(--smfBackgroundColor) 6px, transparent 6px) 100% 100% / 8px 8px no-repeat,
		linear-gradient(var(--smfBackgroundColor), var(--smfBackgroundColor)) 50% 50% / calc(100% - 4px) calc(100% - 16px) no-repeat, 
		linear-gradient(var(--smfBackgroundColor), var(--smfBackgroundColor)) 50% 50% / calc(100% - 16px) calc(100% - 4px) no-repeat, 
		linear-gradient(270deg, transparent 70%, var(--smfBorderColor, mediumseagreen));
}

.smfHighlight.smfAnswer:not(.smfUpvoted),
.smfHighlight.smfAuthor {
    --smfBorderColor: darkorange;
}

.smfAnswer {
	margin: 20px 0;
	padding-left: 5px;
}

.smfShowmoreCmntsBtn{
    background: darkorange;
    color: white;
    padding: 0px 10px;
    border-radius: 5px;
}
#smfMoreHiddenCmnts:before {
    content: "V";
    content: "\27A4";
    /* content: "\27B2"; */
    /* content: "\25B8"; */
    display: block;
    transform: rotate(90deg);
	color: darkorange; /* hidden comments can be in unvoted answers too, so hard-coding the color */
}

.smfFavorite {
	border-color: orange;
	position: relative;
}
.smfFavorite:before {
	position: absolute;
	content: "\2605"; /*\23F6 or "\25B2"*/
	/* Unicode symbol: https://www.fileformat.info/info/unicode/category/So/list.htm */
	left: -11px;
	top: -11px;
	color: orange;
	font-size: large;
}

.smfAuthor{
	border-color: orange;
	position: relative;
}
.smfAuthor:before {
	position: absolute;
    content: "👑"; /* "\2756" or \2764*/
	/* Unicode symbol: https://www.fileformat.info/info/unicode/category/So/list.htm */
    left: -15px;
    top: -15px;
    color: orange;
    font-size: large;
    /* transform: rotate(180deg); */
}

.smfCmtLnk {
	margin-top: 5px;
	padding: 5px;
	align-items: center;
}

.votecell{
	position: relative;
}

#smfScrollToCmts {
	/* position: absolute; */
    /* left: 190px; */
    /* left: -5px; */
	padding: 0;
	width: 80%;
    background-color:lemonchiffon;
    border: 1px solid darkgoldenrod;
    color: firebrick;
	padding: 5px 0px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    /* border-radius: 5px; */
    font-size: small;
}

#smfScrollToCmts .smfLogo {
    /* filter: drop-shadow(2px 4px 6px black); */
}

.smfUpvoted  .smfAnsHasCmmts{
	background-color: var(--theme-primary-500);
}
