.smcHighlight {
	border: 2px solid darkgreen;
	border-color: orange;
	border-color: mediumseagreen;
	border-radius: 5px;
}

.smfAnswer {
	margin: 20px 0;
	padding-left: 5px;
}

.smfFavorite {
	border-color: orange;
	position: relative;
}
.smfFavorite:before {
	position: absolute;
	left: -11px;
	top: -11px;
	content: "\2605";
	color: orange;
	font-size: large;
}

.smfCmtLnk {
	margin-top: 5px;
	padding: 5px;
	align-items: center;
}
