body{
    width: 300px;
    height: 300px;
}

header{
    display: flex;
    align-items: center;
}

#logo{
    margin: 5px;
}

#notification{
    display: none;
    margin: 5px;
    padding: 5px;
    background-color: mistyrose;
    color: firebrick;
    border: 1px solid firebrick;
}

#buttons{
    margin: 10px;
    float: right;
}